In [1]:
import numpy as np
import pandas as pd
import os
from datetime import datetime

In [2]:
old_csv_dir = "/mnt/c/Users/psamt/OneDrive - The University of Nottingham/_Spring/PHYS4036_Machine Learning in Science Part II/Project/Captured_data/processed/T_right"

old_csv_path = os.path.join(old_csv_dir, "_labels_old.csv")

old_csv_df = pd.read_csv(old_csv_path).set_index("image_id")

old_csv_df

,angle,speed,red_light,obj_ahead,left_arrow,right_arrow
image_id,,,,,,
1741869036317_95_35,0.5625,1.0,0.0,0.0,0.0,1.0
1741869037357_95_35,0.5625,1.0,0.0,0.0,0.0,1.0
1741869038420_105_35,0.6875,1.0,0.0,0.0,0.0,1.0
1741869039485_120_35,0.8750,1.0,0.0,0.0,0.0,1.0
1741869040522_120_35,0.8750,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
1741974251250_125_35,0.9375,1.0,0.0,0.0,0.0,1.0
1741974251751_125_35,0.9375,1.0,0.0,0.0,0.0,1.0
1741974252250_125_35,0.9375,1.0,0.0,0.0,0.0,0.0
1741974252723_110_35,0.7500,1.0,0.0,0.0,0.0,0.0
1741974253219_95_35,0.5625,1.0,0.0,0.0,0.0,0.0

In [3]:
png_image_ids = [f.split('.')[0] for f in os.listdir(old_csv_dir) if f.endswith(".png")]

In [4]:
new_csv_df = old_csv_df[old_csv_df.index.isin(png_image_ids)]

timestamp = datetime.now().strftime("%Y%m%d_%H%M")  # Format: YYYYMMDD_HHMM

new_csv_df.to_csv(os.path.join(old_csv_dir, f"_labels_{timestamp}.csv"))